<ion-header>
  <ion-toolbar>
    <ion-title>
      AGENDA DE CONTATOS
    </ion-title>
    <ion-icon slot="end" (click)="logout()" name="exit-outline" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list *ngFor="let contato of lista_contatos">
    <ion-item (click)="editar(contato)">
      <ion-avatar class="avatar" *ngIf="contato.downloadURL != null"><img src="{{contato.downloadURL}}" style="margin-left: 5%;"/></ion-avatar>
      <ion-avatar class="avatar" *ngIf="contato.downloadURL == null"><img src="./src/assets/default_profile_pic.jpg" style="margin-left: 5%;"/></ion-avatar>
      <ion-label>{{contato.nome}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
